body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #1f2937;
    padding: 16px;
    
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    min-width: 320px;
}

.nav img {
    max-width: 32px;
}

.prov-des {
    display: flex;
    align-items: center;
    gap: 16px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    background-color: #1f2937;
    padding: 48px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
    gap: 24px;
    padding: 16px;
    flex-wrap: wrap-reverse;
    
}

.header-image img {
    width: 500px;
    height: auto;
    border-radius: 16px;
}

.header-text {
    width: 450px;
    
}

h1, p {
    padding: 0;
    margin: 0;margin: 0 0 16px 0;
}

.header-button {
    color: #ffffff;
    background-color: #3882f6;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
}