body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #1f2937;
    padding: 16px;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    gap: 10px;
}

.nav img {
    max-width: 32px;
}

.prov-des {
    display: flex;
    align-items: center;
    gap: 16px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}



.header-container {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #1f2937;
    padding: 48px 16px;
    
}

.header {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    width: 1100px;
    max-width: 1100px;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    align-content: center;
}

.header-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
    max-width: 500px;
    justify-content: center;
}

.header-text h1, .header-text p {
    padding: 0;
    margin: 0 0 16px 0;
    color: #ffffff;
    
}

h1 {
    font-size: 48px;
}

.header-text p {
    font-size: 18px;
}

.header-button {
    color: #ffffff;
    background-color: #3882f6;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    width: 150px;
    cursor: pointer;
}


.header-image img {
    width: 100%;
    max-width: 550px;
    max-height: auto;
    border-radius: 16px;
}
   


.works-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 16px;
    background-color: #ffffff;
}

.works-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    gap: 16px;
    padding: 16px;
    justify-content: space-evenly;
}

.works {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
    
}

.works h3, .works p {
    color: #1f2937;
}

.works img {
    border-radius: 16px;
    box-shadow:  2px 2px 10px #1f293750;
    object-fit: cover;
}



.quote-section {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    color: #1f2937;
    gap: 0;
    padding: 36px 16px;
    margin: 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    width: 100%;
}

.quote-header h2 {
    margin: 0;
    color: #1f2937;
}


.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    text-align: center
}

.quote-1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    padding: 36px 16px;
}

.quote-1 {
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    color: #ffffff;
    max-width: 900px;
    width: 100%;
    align-items: center;   
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #1f2937;
    color: #ffffff;
    padding: 16px;
}